@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

table td, table th{
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  min-width: 80px;
}


/* Top RightNotification */
.swal2-popup.swal2-toast .swal2-icon {
    width: 1em !important;
    min-width: 1em !important;
    height: 1em !important;
}
.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
    font-size: 16px !important;
}
.swal2-popup.swal2-toast .swal2-title {
  margin: 0px 15px 3px 0px !important;
  font-size: 13px !important;
}
.swal2-popup.swal2-toast .swal2-html-container {
  margin: 0px 15px 0px 0px !important;
  font-size: 12px !important;
}
.swal2-popup.swal2-toast {
    padding: 10px !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
    border-radius: 10px !important;
}

/* Notification box */
div:where(.swal2-icon) {
  width: 2em !important;
  height: 2em !important;
  margin: 1.5em auto .6em !important;
}
div:where(.swal2-icon) .swal2-icon-content {
  font-size: 1.75em !important;
}
div:where(.swal2-container) .swal2-html-container {
  margin: 0em 1.6em .3em !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  padding: .1em 1em 0 !important;
  font-size: 15px !important;
}
div:where(.swal2-container) .swal2-html-container {
    font-size: 13px !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  font-size: 13px !important;
}
div:where(.swal2-container) button:where(.swal2-styled)
{
  padding: 4px 11px !important;
}
div:where(.swal2-container) div:where(.swal2-actions) {
  margin: 2px !important;
}

/* Group Message */
.group-message-button {
  background: #dd982b;
  color: #fff;
  padding: 7px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s ease;
  font-size: 13px;
  font-weight: 400;
}

.group-message-button:hover {
  background: #fff;
  border: 1px solid #dd982b;
  color: #dd982b;
}

/* Group Message CSS */
.chat-wrapper {
  /* background-color: #efefff; */
  background-color: #fce8c8;
  height: 100%;
}

.msgcard {
  width: 100%;
}

.chat-log {
  padding: 10px;
  overflow-y: auto;
	height: calc(80vh);
}

.chat-log_item {
  /* background: #d5f4e7; */
  background: #dd982b;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  float: left;
  font-size: 13px;
  border-radius: 0 20px 20px 20px;
  clear: both;
}

.chat-log_img img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chat-log_message p{
  font-size: 12px;
}

.chat-log_time {
  font-size: 10px;
  opacity: 0.5;
}

.chat-log_time .link {
  cursor: pointer;
  color: #000;
}

.opacity-line {
  opacity: 0.5;
}

.chat-footer {
  background-color: #97e3c2;
}

textarea {
  resize: none;
}